/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* Minimal styles */
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px;
  min-height: 100%;
  font-family: sans-serif;
  background: hsl(0deg 0% 95%);
  color: hsl(0deg 0% 10%);
}
main {
  width: 100%;
  max-width: 800px;
  padding: 16px 24px;
  margin: 0px auto;
  border: 1px solid hsl(0deg 0% 50% / 0.3);
  border-radius: 2px;
  background: white;
}
footer {
  width: 100%;
  margin-top: auto;
  font-size: 0.875rem;
  color: hsl(0deg 0% 30%);
  text-align: center;
  padding: 32px 0px;
  border-top: 1px dashed hsl(0deg 0% 80%);
}
button {
  border: none;
  padding: 0px;
  background: transparent;
  cursor: pointer;
  transition: filter 200ms;
  font-weight: bold;
}
.censored {
  filter: blur(4px);
}
.code-snippet {
  margin: 2rem -1em 6rem !important;
  border-radius: 8px !important;
  background: var(--syntax-bg);
}
.code-snippet pre {
  background: transparent !important;
}

.reveal {
  display: flex;
  justify-content: center;
  margin: 2rem -1em 6rem !important;
  padding: 2rem;
  border-radius: 8px !important;
  background: var(--syntax-bg);
}
.reveal button {
  color-scheme: dark;
  font-size: 1rem;
  padding: 8px 24px;
  font-weight: 600;
  background: hsl(255deg 100% 55%);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
